body {
  background-image: url("Sky.jpg");
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
font-size: medium;
}
.container {
  font-size: small;
  border: 1px solid #7a7d7e;
  padding: 10px;
  width:40vw;
  background-color:  rgba(245, 245, 245, 1);
  gap:20px;
}
.col-4 {
  flex-basis: calc(30% - 10px); 
}

.col-8 {
  flex-basis: calc(50% - 10px); 
}
.row {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
  margin-bottom: 25px;
  margin-top: 0;
  gap:20px;
}


input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
#tour-package {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  width:150px;
  max-width: 250px;
}
input[type="submit"] {
  background-color: #1b7ced;
  align-items: center;
  width:150px;
  max-width: 200px;
  height: 30px;
  margin-left: 300px;
  margin-top: 20px;
}
#term,
#avail1,
#avail2,
#avail3 {
  margin-left: 40px;
  margin-bottom: 10px;
}
label {
  margin-bottom: 30px;
}
option {
  font-size: small;
  width: 300px;

}
select {
  font-size: small;
  width:150px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #fff;

}
.right-element {
  max-width: 400px;
  margin-top: 200px;
  margin-left: auto;
  justify-self: end;
  position: absolute;
  right:60px;
}
@media screen and (max-width: 600px) {
.row{
  grid-template-columns: 1fr;
}
.right-element {
  margin-top: 100px;
  margin-left: auto;
  max-width: 400px;
}

  .col-4 {
    width: 100%;

 }

  .col-8 {
    width: 100%; 
  }

  input[type="submit"] {
    max-width: 300px;
  }
}

  



